.imessage{
    display: flex;
    flex: 1;
}

.imessage__sidebar{
    flex: 0.35;
    height: 100vh;
    transition: 0.5s ease-in-out;

}

.imessage__chat{
    flex: 0.65;
    height: 100vh;
    transition: 0.5s ease-in-out;
}

@media only screen and (max-width: 768px){
    .imessage{
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

    }

    .imessage__sidebar,.imessage__chat{
        position: absolute;
        top: 0;
        flex: 0;
    }

    .imessage__sidebar{
        left: 0;
    }

    .imessage__sidebarOut{
        transform: translateX(-100%);
    }

    .imessage__chat{
        right: 0;
        width: 61%;
    }

    .imessage__chatExpand{
        width: 100%;
    }
}

@media only screen and (max-width: 425px){


    .imessage__sidebar,.imessage__chat{
        width: 100vw;
        height: 100vh;
    }

    .imessage__sidebar{
        z-index: 2;
    }

    .imessage__chat{
        z-index: 1;
        transform: translateX(100%);
    }

    .imessage__chatExpand{
        transform: translateX(0);
    }

    .imessage__sidebarOut{
        transform: translateX(-100%);
    }
}